<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="ServiceName" value="bydd365_hsappservice" />
		<add key="ServiceDisplayName" value="bydd365_hsappservice" />
		<add key="ServiceDescription" value="bydd365_hsappservice" />
		<add key="Company" value="AP31" />
		<add key="CronExpression" value="0 0/1 * 1/1 * ? *" />
		<add key="TimeZone_" value="Brussels" />
		<add key="jsonbyodconfig" value="C:\Users\Asus\source\repos\bydd365_hsappservice\bydd365_hsappservice\bin\jsonbyodconfig\jsonbyodconfig.json" />
		<add key="jsond365config" value="C:\Users\Asus\source\repos\bydd365_hsappservice\bydd365_hsappservice\bin\jsond365config\jsond365config.json" />
		<add key="filename" value="emailconfig.json" />
		<add key="emailconfig" value="C:\Users\Asus\source\repos\bydd365_hsappservice\bydd365_hsappservice\bin\emailconfig" />
	</appSettings>
	
  <runtime>
	
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	
          <dependentAssembly>
	
              <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
	
              <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
	
          </dependentAssembly>
	
      </assemblyBinding>
	
  </runtime>
</configuration>